<section class="main-content-section">
    <div class="main-content-container">
        <div class="bp-section section-video-embed">
            <div class="container">
                {% if content.field_embed_code is not empty %}
                    {% set embed_code = {
                        '#type': 'processed_text',
                        '#text': content.field_embed_code[0]['#context']['value'],
                        '#format': 'full_html',
                    } %}
                    <div class="embed-responsive embed-responsive-16by9">
                        {{ embed_code }}
                    </div>
                {% endif %}
                {% if content.field_description is not empty %}
                    <div class="video-description">
                        {{ content.field_description }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>