<div class="section-content section-basic">
    <div class="container">
        <h2>{{ content.field_title }}</h2>
        <div class="article-content">
            {{ content.field_body }}
        </div>
    </div>
</div>