<section class="main-content-section">
    <div class="main-content-container">
        <div class="bp-section section-accordions">
            <div class="container">
                {{ content.field_accordion_item }}
            </div>
        </div>
    </div>
</section>