<div class="section-content section-fullwidth-image">
    <div class="container">
        {% if content.field_image|render|trim is not empty %}
            <figure>
                <img src="{{ node.field_image.entity.field_media_image.entity.uri.value | image_style('fullwidth_content_image') }}" alt="{{ node.field_image.entity.field_media_image.alt }}">
                {% if content.field_description is not empty %}
                    <figcaption>{{ content.field_description }}</figcaption>
                {% endif %}
            </figure>
        {% endif %}
    </div>
</div>