<a href="{{ content.field_link[0]['#url'] }}" class="contact-section-link">
    <span class="small-ac-title">{{ content.field_title }}</span>
    <h3 class="link-title">{{ content.field_link[0]['#title'] }} <i class="material-icons arrow_forward"></i></h3>
</a>
