{#
    The default template for rendering a node
#}

{# Page content #}
<section class="page-section page-section-basic-page">
    <div class="container">
        <h1 class="page-title">
            {{ label }}
        </h1>
        {% if content.body is not empty %}
            <div class="article-content">
                {{ content.body }}
            </div>
        {% endif %}
    </div>
    {{ content.field_page_sections }}
</section>
