{#
    Country page
#}

<nav aria-label="breadcrumb">
    <div class="container-fullwidth">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('entity.node.canonical', {'node': 11}) }}">Find a Clinic</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ node.label }}</li>
        </ol>
    </div>
</nav>

<section class="page-section page-section-basic-page">
    <div class="container">
        <h1 class="page-title">
            {{ label }}
        </h1>
        <div class="article-content">
            {{ content.body }}
        </div>
    </div>
</section>