{#
    Find a clinic page
#}

<section class="page-section">
    <div class="container">
        <h1 class="page-title">
            {{ label }}
        </h1>
        <div class="article-content">
            {{ content.body }}
        </div>
        {{ drupal_view('countries', 'block_2') }}
    </div>
</section>