{#
    News article page
#}

<nav aria-label="breadcrumb">
    <div class="container-fullwidth">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('entity.node.canonical', {'node': 10}) }}">Newsroom</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ node.label|truncate(40, true, true) }}</li>
        </ol>
    </div>
</nav>

<section class="page-section page-section-basic-page">
    <div class="container">
        <h1 class="page-title">
            {{ label }}
        </h1>
        <div class="article-content">
            {{ content.body }}
        </div>
    </div>
</section>