{#
    About us page
#}

<section class="page-section page-section-basic-page">
    <div class="container">
        <h1 class="page-title">
            {{ label }}
        </h1>
        <div class="article-content">
            {{ content.body }}
        </div>
    </div>
</section>