{#
    The default template for rendering a node
#}

{# Page content #}
<section class="page-section page-section-basic-page">
    <div class="container">
        <h1 class="page-title">
            {{ label }}
        </h1>
        <div class="article-content">
            {{ content.body }}

            {% if content.field_iframe_embed is not empty %}
                <p>Iframe:</p>
                {{ content.field_iframe_embed }}
            {% endif %}
        </div>
    </div>
</section>
