{% if page.header %}
    {{ page.header }}
{% endif %}

<section class="page-section page-section-basic-page">
    <div class="container-sm">
        <h1>Oops!</h1>
        {{ page.content }}
    </div>
</section>

{% if page.footer %}
    {{ page.footer }}
{% endif %}