{% if page.header %}
    {{ page.header }}
{% endif %}

<section class="page-section page-section-basic-page">
    <div class="container-sm">
        <h1 class="h2 page-title">You need to sign in to view this content.</h1>
        Unfortunately this content is only available for authorized users. Please sign in in order to access this page.
    </div>
</section>

{% if page.footer %}
    {{ page.footer }}
{% endif %}