<nav class="navbar navbar-main">
    <div class="container-fullwidth">
        <a class="navbar-brand" href="index.php"><img src="{{ base_path ~ directory }}/img/cdg-logo-blue.svg" alt="Logo"></a>
        {% if content %}
            {{ content }}
        {% endif %}
        <button class="navbar-toggler" type="button" aria-controls="allMainNavigationLinks" aria-expanded="false" aria-label="Toggle full navigation">
            <i class="material-icons menu"></i>
        </button>
        <div class="navbar-collapse collapse" id="allMainNavigationLinks">
            <div class="container-fullwidth">
                <div class="col-main-links">
                    <div class="nav-main-full">
                        {{ drupal_menu('footer-main-menu') }}
                    </div>
                </div>
                <div class="col-country-links">
                    <h5 class="small-ac-title">Countries</h5>
                    {{ drupal_view('countries', 'block_1') }}
                </div>
            </div>
        </div>
    </div>
</nav>
