
<footer class="footer">
    <div class="container-fullwidth">
        <div class="row">
            <div class="col-md-6 col-left">
                <a class="footer-logo" href="/">
                    <img src="{{ base_path ~ directory }}/img/ca-logo-white.png" alt="Colosseum Academy logo">
                </a>
                <div class="footer-contact-info">
                    <p class="contact">
                        <a href="mailto:academy@colosseumdental.com" target="_blank"><span>academy@colosseumdental.com</span></a>
                        {#<a href="tel:+4746473830" target="_blank"><span>+47 464 73 830</span></a>#}
                    </p>
                    <p class="address">
                        Colosseum Academy<br>
                        Sørkedalsveien 10C<br>
                        0369 Oslo
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-right">
                <div class="navbar navbar-dark navbar-footer">
                    {{ content }}
                </div>
                <div class="footer-secondary-nav">
                    {{ drupal_menu('footer-secondary-menu') }}
                </div>
                <div class="footer-copyright">
                    <div class="copyright">© Colosseum Dental Group {{ 'now'|date('Y') }}</div>
                </div>
            </div>
        </div>
    </div>
</footer>