{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<h1 class="h2 mb-4">Sign in with Colosseum Academy account</h1>
<form{{ attributes }}>
    {{ children }}
</form>
<hr>
<div class="login-alt-instructions">
    <p>
        <a href="/user/password" class="btn btn-link add-fwd-icon">Forgot your password?</a>
    </p>
    <p><strong>Don't have an account?</strong><br>
        <a href="/user/register" class="btn btn-link add-fwd-icon">Request for an account</a>
    </p>
    <p>
        <a href="/user/login" class="btn btn-link add-fwd-icon">Sign in with Colosseum Dental account</a>
    </p>
</div>