* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
}

body {
  padding-top: $navbar-height-xs;

  @include media-breakpoint-up(md) {
    padding-top: $navbar-height-md;
  }
  @include media-breakpoint-up(lg) {
    padding-top: $navbar-height-lg;
  }
}

img {
  @extend .img-fluid;
}

// Utility classes
// -------------------------------------

.no-padding {
  padding: 0 !important;
}

.v-center {
  display: table;
  height: 100%;
}

.v-center-el {
  display: table-cell;
  vertical-align: middle;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.hidden {
  display: none !important;
}

.arrow-box {
  position: relative;
  background: #ffffff;
  border: 1px solid #FCA224;
  border-radius: $border-radius;
  padding: 1rem 1rem 0;

  &:after,
  &:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
  }
  &:before {
    border-color: rgba(252, 162, 36, 0);
    border-top-color: #FCA224;
    border-width: 11px;
    margin-left: -11px;
  }
}

.figure {
  img {
    @extend .img-fluid;
  }
}

// Common ui elements
// -------------------------------------

.columns-2 {
  @include media-breakpoint-up(md) {
    column-count: 2;
    column-gap: 40px;
  }
  @include media-breakpoint-up(lg) {
    column-gap: 60px;
  }
  @include media-breakpoint-up(xl) {
    column-gap: 100px;
  }
}

.btn-scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.500rem;
  height: 4.500rem;
  border-radius: 100%;
  background-color: $brand-blue-lighter;
  font-size: 1.75rem;
  transition: background-color .2s ease-in-out;

  .material-icons {
    font-size: inherit;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    background-color: darken($brand-blue-lighter, 5%);
  }

  @include media-breakpoint-up(md) {
    &.btn-scroll-down-lg {
      width: 6rem;
      height: 6rem;
    }
  }

  @include media-breakpoint-up(lg) {
    &.btn-scroll-down-lg {
      width: 7rem;
      height: 7rem;
      font-size: 2rem;
    }
  }

  @include media-breakpoint-up(xl) {
    &.btn-scroll-down-lg {
      width: 9rem;
      height: 9rem;
      font-size: 2.5rem;
    }
  }
}

.some-nav {
  margin: -.5rem 0 0 -.5rem;

  .nav-link {
    padding: .5rem;
    font-size: 1.5rem;
  }
}

// Breadcrumb
// -------------------------------------

.breadcrumb {
  padding: $breadcrumb-padding-y 0 0;
  .breadcrumb-item {
    padding-right: 0.5rem;
    font-size: .875rem;
    color: $brand-blue;

    a {
      color: inherit;

      &:hover,
      &:active,
      &:focus {
        color: $brand-blue-light;
        text-decoration: none;
      }
    }

    &:last-child {
      display: inline-block;
      max-width: 200px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: $brand-blue-light;
    }
  }

  .breadcrumb-item + .breadcrumb-item {
    padding-left: 0;
  }
}

// Page section tabs
// -------------------------------------

/*.page-section-tabs {
  border: none;

  .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;

    .nav-link {
      position: relative;
      background-color: $white;
      border: none;
      font-weight: $font-weight-medium;
      color: $default-text-color;
      padding: 1rem $grid-gutter-width/2;

      .badge {
        display: inline-block;
        margin: -.1rem 0 0 .4rem;
        vertical-align: middle;
      }
    }

    .nav-link.active {
      background-color: transparent;
    }
  }

  @include media-breakpoint-up(sm) {
    .nav-item {
      .nav-link {
        padding: 1.2rem $grid-gutter-width/2;
        font-size: 1.125rem;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .nav-item {
      .nav-link {
        padding: 1.5rem $margin-width-md-vw;
        font-size: 1.375rem;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .nav-item {
      .nav-link {
        padding: 1.75rem $margin-width-md-vw;
        font-size: 1.5rem;
        font-weight: $font-weight-bold;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .nav-item {
      .nav-link {
        padding: 2.25rem $margin-width-xl-vw;
        font-size: 1.625rem;
      }
    }
  }
}

.tab-content {
  padding: 3rem 0 0;

  @include media-breakpoint-up(lg) {
    padding: 4rem 0 0;
  }

  @include media-breakpoint-up(xl) {
    padding: 5rem 0 0;
  }
}*/

// Page section styles
// -------------------------------------

.page-section {
  @include clearfix;
  padding: 2.5rem 0;

  @include media-breakpoint-up(md) {
    padding: 4rem 0;
  }

  @include media-breakpoint-up(lg) {
    padding: 5rem 0;
  }

  @include media-breakpoint-up(xl) {
    padding: 7rem 0;
  }
}

// Article list
// -------------------------------------

.article-list-header {
  /* Above the article list */
  padding-bottom: 1rem;

  @include media-breakpoint-up(md) {
    padding-bottom: 1.5rem;
  }
}

.article-list {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;

  .item + .item {
    margin-top: 1.5rem;
  }

  .article-list-item {
    display: flex;
    background-color: $brand-blue-lighter;
    padding: 1rem;

    .col-txt {
      padding-left: 1rem;

      .article-lead {
        color: $default-text-color;
      }

      .category-badge {
        display: block;
        margin-bottom: .75rem;
      }
    }

    .col-img,
    .col-date {
      flex: 0 0 20%;
      min-width: 80px;
      max-width: 120px;

      .square-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        background-color: $white;

        div.sw-content {
          display: flex;
          align-items: center;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      .date {
        width: 100%;
        text-align: center;
        padding: 0 2%;
        span {
          display: block;
          line-height: 1.2;
          font-size: .875rem;
          font-weight: $font-weight-medium;
        }
        span.day {
          font-size: 2.25rem;
          font-weight: $font-weight-bold;
          line-height: 1;
        }
      }
    }

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }

  @include media-breakpoint-up(md) {
    .article-list-item {
      padding: 2rem;

      .col-txt {
        padding-left: 2rem;

        .category-badge {
          margin-bottom: 1rem;
        }
      }

      .col-img,
      .col-date {
        .date {
          span {
            line-height: 1.3;
            letter-spacing: .02rem;
          }
          span.day {
            line-height: 1;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .article-list-item {
      padding: 3rem;

      .col-txt {
        padding-left: 3rem;

        .article-lead {
          font-size: 1.125rem;
        }
      }
    }
  }
}

// CTA content box general margins (with title, lead and button)
// -------------------------------------

.cta-content-box {
  h2, h3 {
    margin-bottom: 1rem;
  }

  p {
    margin: 0;
  }

  p + .btn,
  h2 + .btn,
  h3 + .btn {
    margin-top: 2rem;
  }
}

// Drupal messages
// -------------------------------------

.messages {
  &.messages--status {
    color: $brand-green;
    border-color: #24c99f #24c99f #24c99f transparent;
    background-color: $brand-green-light;
    box-shadow: -8px 0 0 $brand-green;
  }

  &.messages--error {
    color: darken($brand-orange, 20%);
    border-color: $brand-orange-40 $brand-orange-40 $brand-orange-40 transparent;
    background-color: $brand-orange-10;
    box-shadow: -8px 0 0 $brand-orange  ;
  }
}

// Hiding the messages in specific pages
.registration-sent-content,
.page-node-type-registration {
  .messages.messages--status {
    display: none !important;
  }
}

.dialog-off-canvas-main-canvas {
  > div[data-drupal-messages] {
    display: none;
  }
}

// Show the messages for admins
body.is_admin .dialog-off-canvas-main-canvas {
  > div[data-drupal-messages] {
    display: block;
  }
}

// Drupal specific
// -------------------------------------

.dialog-off-canvas-main-canvas {
  height: 100%;
}

.btn-edit-current-page {
  padding: 7px 10px;
  position: fixed;
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  background-color: #000;
  top: 0;
  right: 0;
  z-index: 10001;
}

.toolbar-vertical {
  .btn-edit-current-page {
    position: absolute;
    display: block;
  }

  &.toolbar-fixed {
    .btn-edit-current-page {
      position: fixed;
    }
  }
}

// Dialog

.ui-widget-overlay {
  background: $modal-backdrop-bg;
  opacity: $modal-backdrop-opacity;
}

.ui-dialog {

  &.ui-widget.ui-widget-content {
    border: none;
  }

  .ui-dialog-titlebar {
    padding: 1rem;
    border: none;
    background: $brand-blue;
    color: $white;
    font-weight: $font-weight-medium;
    font-size: 1.5rem;
  }

  .ui-dialog-content {
    position: relative;
    border: 0;
    padding: 2rem 1rem;
    background: none;
    overflow: auto;
    font-size: 1.125rem;
  }

  .ui-dialog-titlebar-close {
    position: absolute;
    right: 1rem;
    top: 50%;
    width: 30px;
    margin: -15px 0 0 0;
    padding: 1px;
    height: 30px;
    overflow: hidden;
    //color: transparent;

    &:after {
      display: block;
      position: absolute;
      @extend .material-icons;
      text-indent: 0;
      top: 0;
      left: 0;
      color: #fff;
      content: "\e5cd";
      width: 100%;
      height: 100%;
      font-size: 1.75rem;
    }

    .ui-button-icon.ui-icon.ui-icon-closethick {
      //display: block;
      //position: relative;
      color: #fff;
    }
  }
}

// Drupal admin overrides
// -------------------------------------

body {

  &.toolbar-fixed.toolbar-horizontal,
  &.toolbar-fixed.toolbar-vertical,
  &.toolbar-vertical {
    padding-top: $navbar-height-xs + 39px !important;
  }

  &.toolbar-fixed.toolbar-horizontal.toolbar-tray-open {
    padding-top: $navbar-height-xs + 79px !important;
  }

  @include media-breakpoint-up(md) {

    &.toolbar-fixed.toolbar-horizontal,
    &.toolbar-fixed.toolbar-vertical,
    &.toolbar-vertical {
      padding-top: $navbar-height-md + 39px !important;
    }

    &.toolbar-fixed.toolbar-horizontal.toolbar-tray-open {
      padding-top: $navbar-height-md + 79px !important;
    }

  }
  @include media-breakpoint-up(lg) {
    &.toolbar-fixed.toolbar-horizontal,
    &.toolbar-fixed.toolbar-vertical,
    &.toolbar-vertical {
      padding-top: $navbar-height-lg + 39px !important;
    }

    &.toolbar-fixed.toolbar-horizontal.toolbar-tray-open {
      padding-top: $navbar-height-lg + 79px !important;
    }
  }
}