// Modals
// -------------------------------------

.modal {

  padding: 0 !important;

  .modal-dialog {
    //margin: 15px;
  }

  button.close {
    opacity: 1;
    float: none;
    position: absolute;
    right: 1px;
    top: 1px;
    padding: .5rem;

    .close {
      color: $brand-blue;
      text-shadow: none;
      margin: 0;
      padding: 0;
      opacity: 1;
    }

    &:hover,
    &:focus,
    &:active {
      opacity: 1;

      .close {
        opacity: 1;
        color: lighten($brand-blue, 10%);
      }
    }

    &:focus,
    &:active {
      outline: 1px solid $border-color;
    }
  }

  .modal-header {
    padding: $modal-inner-padding;
  }
  .modal-body {
    padding: 0 $modal-inner-padding $modal-inner-padding;
  }

  .modal-footer {
    padding-top: 0;
    padding-bottom: $modal-inner-padding;
    justify-content: flex-start;

    .btn {
      margin: 0 .75rem 0 0;
    }
  }

  @include media-breakpoint-up(sm) {
    .modal-dialog {
      width: 90%;
      max-width: 740px;
    }

    button.close {
      padding: 1rem;
    }
  }

  @include media-breakpoint-up(md) {
    .modal-header {
      padding: $modal-inner-padding-lg $modal-inner-padding-lg 1rem;
    }

    .modal-body {
      padding: 0 $modal-inner-padding-lg $modal-inner-padding-lg;
    }

    .modal-footer {
      padding: 0 $modal-inner-padding-lg $modal-inner-padding-lg;
    }
  }
}

// Member info modal

.modal.member-info-modal {
  .modal-content {
    background-color: $brand-blue-lighter;
    padding: 2.5rem 0 1rem;

    .person-image {
      margin-bottom: 1rem;
    }

    .person-title {
      font-size: 1.125rem;
    }

    .person-bio.d-none {
      display: block !important;
    }
  }

  @include media-breakpoint-up(sm) {
    .modal-content {
      padding: 3rem 0 1.5rem;
      .container {
        padding: 0 5%;
      }
      .person-image {
        padding-right: 1%;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .modal-content {
      padding: 3rem 0 2rem;
      .container {
        padding: 0 3rem;
      }
      .person-image {
        padding-right: $grid-gutter-width/2;
      }
    }
  }
}

#videoModal {

  padding: 0 !important;

  .modal-dialog {
    margin: 1.5rem auto 2rem;
    padding: 0 1rem;
  }

  .modal-content {
    background-color: transparent;
  }
  .modal-header {
    position: relative;
    padding: 0 0 .5rem;
    background-color: transparent;

    .close {
      color: $white;
      opacity: 1;
    }
  }

  @include media-breakpoint-up(sm) {
    .modal-dialog {
      max-width: 90%;
    }
  }

  @include media-breakpoint-up(md) {
    .modal-dialog {
      max-width: 900px;
    }
  }
}



