
// Nav styling
// -------------------------------------

.navbar-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 10;
  background-color: inherit;

  > .container-fullwidth {
    @extend .container-fullwidth;
  }

  .navbar-brand {
    position: relative;
    margin: 0;
    z-index: 100;
    img {
      width: 210px;
      @extend .img-fluid;
    }
  }

  .navbar-toggler {
    position: relative;
    font-size: 2.25rem;
    line-height: 0;
    padding: .5rem .5rem;
    margin-right: -.5rem;
    z-index: 100;

    .material-icons {
      font-size: inherit;
    }

    &:hover,
    &:active,
    &:focus {
      color: $primary;
      outline: none;
    }
  }

  .navbar-collapse {
    position: absolute;
    left: 0;
    top: 54px;
    width: 100%;
    box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.1);
    background-color: $white;
    z-index: 99;
    overflow: auto;

    &.show {
      display: flex;
      flex-direction: column;
    }

    .col-main-links {
      width: 100%;
      padding: 1rem 0 .5rem;

      .nav-main-full {
        flex-direction: column;

        .nav-link {
          color: $default-text-color;
          font-weight: $font-weight-medium;
          font-size: 1.125rem;
          padding: 0.5rem 0;

          &:hover,
          &:focus,
          &:active {
            color: $brand-blue;
          }
        }
      }
    }

    .col-country-links {
      width: 100%;
      padding: 0.5rem 0 1.5rem;

      .countries-nav .nav{

        .nav-item {
          margin-right: 1rem;
        }

        .nav-item a {
          @extend .nav-link;
          color: $default-text-color;
          font-weight: $font-weight-medium;
          font-size: .875rem;
          padding: .5rem 0;

          &:hover,
          &:focus,
          &:active {
            color: $brand-blue;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .navbar-collapse {
      .col-main-links {
        max-width: 600px;

        .nav-main-full {
          display: block;
          columns: 10px 2;
        }
      }

      .col-country-links {
        max-width: 600px;

        .countries-nav .nav {
          display: block;
          columns: 10px 4;

          .nav-item {
            margin: 0;
          }
        }
      }
    }
  }


  @include media-breakpoint-up(md) {
    padding: 1rem 0;

    .navbar-brand {
      img {
        width: 280px;
      }
    }

    .navbar-toggler {
      font-size: 2.5rem;
    }

    .navbar-collapse {
      top: 0;
      position: fixed;
      padding: 7rem 0 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, .95);

      .container-fullwidth {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
      }

      .col-main-links {
        width: 70%;
        padding: 0;

        .nav-main-full {
          .nav-link {
            font-size: 1.375rem;
          }
        }
      }

      .col-country-links {
        width: 30%;
        padding: 1rem 0 0;

        .countries-nav .nav {
          columns: 10px 2;

          .nav-item a {
            font-size: 1rem;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 2rem 0;

    .navbar-toggler {
      font-size: 2.5rem;
      order: 1;
      z-index: 100;
    }

    .nav-main {
      order: 0;
      margin-left: auto;
    }

    .navbar-collapse {
      padding-top: 20vh;

      .container-fullwidth {
        justify-content: flex-start;
        flex-shrink: 0;
      }

      .col-main-links {
        .nav-main-full {
          .nav-link {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .navbar-collapse {

      .col-main-links {
        max-width: 800px;

        .nav-main-full {
          .nav-link {
            font-size: 2rem;
          }
        }
      }

      .col-country-links {
        .countries-nav .nav{
          .nav-item a {
            font-size: 1.125rem;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(xxl) {
    .navbar-collapse {

      .col-main-links {
        max-width: 900px;

        .nav-main-full {
          .nav-link {
            font-size: 2.5rem;
          }
        }
      }

      .col-country-links {
        .small-ac-title {
          font-size: 1rem;
          margin-bottom: 1rem;
        }
        .countries-nav .nav {
          .nav-item a {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}

body.main-menu-opened .navbar-main {
  .navbar-toggler {
    .material-icons:before {
      content: '\e5cd';
    }
  }
}

// THE MAIN NAV IN DESKTOP
// -------------------------------------

.nav-main {
  box-shadow: none;
  padding: .5rem 1rem .5rem 0;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-grow: 1;

  .nav-link {
    padding: 0.3rem 0;
    color: $black;
    font-weight: $font-weight-medium;
    font-size: 1rem;
    white-space: nowrap;

    &.active {
      color: $brand-blue;
    }

    &:hover,
    &:active,
    &:focus {
      color: $primary;
      //outline: none;
    }
  }

  .nav-item {
    margin-right: 5%;

    &:last-of-type {
      margin-right: 0;
    }
  }

  @include media-breakpoint-up(xl) {
    padding-left: 2rem;
    padding-right: 2rem;
    .nav-item {
      margin-right: 2.5rem;
    }

    .nav-link {
      font-size: 1rem;
    }
  }
}

// Drupal admin overrides
// -------------------------------------

.toolbar-oriented .toolbar-bar {
  z-index: 10000;
}

.toolbar-fixed.toolbar-horizontal,
.toolbar-fixed.toolbar-vertical,
.toolbar-vertical {
  .navbar-main {
    top: 39px;
    .navbar-collapse {
      top: 39px;
    }
  }
}

.toolbar-fixed.toolbar-horizontal.toolbar-tray-open {
  .navbar-main {
    top: 79px;
    .navbar-collapse {
      top: 79px;
    }
  }
}