
// Nav styling
// -------------------------------------

.page-main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-secondary {
  display: none;
  background-color: $brand-blue-darkest;

  .nav-secondary {
    justify-content: flex-end;

    .nav-link {
      font-size: .813rem;
      font-weight: $font-weight-medium;
      color: $white;

      &:hover,
      &:focus,
      &.active {
        color: $brand-blue-light;
      }
    }

    .nav-item:last-of-type .nav-link {
      padding-right: 0;
    }
  }

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.navbar-main {
  padding: 0;
  z-index: 10;
  background-color: $white;
  //background-color: $brand-blue-lighter;

  > .container-fullwidth {
    @extend .container-fullwidth;
  }

  .navbar-brand {
    position: relative;
    margin: 0;
    z-index: 100;
    img {
      width: 220px;
      @extend .img-fluid;
    }
  }

  .navbar-toggler {
    position: relative;
    font-size: 1.85rem;
    line-height: 0;
    height: 54px;
    margin-right: -.5rem;
    z-index: 100;
    color: $primary;

    .material-icons {
      font-size: inherit;
    }

    &:hover,
    &:active,
    &:focus {
      color: $default-text-color;
      outline: none;
    }
  }

  .navbar-collapse {
    position: absolute;
    left: 0;
    top: 54px;
    width: 100%;
    box-shadow: 0px 10px 10px 0px rgba(4,30,66,0.3);
    background-color: $white;
    z-index: 99;
    overflow: auto;

    &.show {
      display: flex;
      flex-direction: column;
    }

    .col-main-links   {
      width: 100%;
      padding: 1rem 0;

      .nav-main-full .nav {
        flex-direction: column;

        .nav-item {
          position: relative;

          .dropdown-toggle {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: -6px;
            top: 0;
            width: 56px;
            height: 56px;
            text-decoration: none;
            border-left: 1px solid #F2F6F9;

            .material-icons:before {
              content: '\e145';
            }

            &::after {
              display: none;
            }
          }

          &.show .dropdown-toggle {
            .material-icons:before {
              content: '\e15b';
            }
          }

          .dropdown-menu {
            padding: 0.5rem 0 0.6rem 1rem;
            margin: 0;

            &.show {
              border-bottom: 1px solid #F2F6F9;
            }

            .nav-link {
              font-size: 1rem;
              text-transform: none;
              padding: 0.4rem 0;
              border: none;
            }
          }

          &:last-child .nav-link {
            border-bottom: none;
          }
        }

        .nav-link {
          color: $brand-blue-darkest;
          font-weight: $font-weight-medium;
          letter-spacing: .03rem;
          font-size: 1rem;
          text-transform: uppercase;
          padding: 0.9375rem 0;
          border-bottom: 1px solid #F2F6F9;

          &:hover,
          &:focus,
          &:active {
            color: $brand-blue;
          }

          &.active {
            color: $brand-blue;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .navbar-collapse {
      .col-main-links {
        .nav-main-full .nav {
          display: block;
        }
      }

      .col-country-links {
        max-width: 600px;

        .countries-nav .nav {
          display: block;
          columns: 10px 4;

          .nav-item {
            margin: 0;
          }
        }
      }
    }
  }


  @include media-breakpoint-up(md) {
    //position: fixed;
    padding: .75rem 0;

    .navbar-brand {
      img {
        width: 280px;
      }
    }

    .navbar-toggler {
      font-size: 2.5rem;
    }

    .navbar-collapse {

    }
  }

  @include media-breakpoint-up(lg) {
    padding: 1.5rem 0;

    .navbar-toggler {
      font-size: 2.5rem;
      order: 1;
      z-index: 100;
    }

    .nav-main {
      order: 0;
      margin-left: auto;
    }
  }

  @include media-breakpoint-up(xl) {

  }

  @include media-breakpoint-up(xxl) {

  }
}

body.main-menu-opened .navbar-main {
  .navbar-toggler {
    .material-icons:before {
      content: '\e5cd';
    }
  }
}

// THE MAIN NAV IN DESKTOP
// -------------------------------------

.nav-main {
  box-shadow: none;
  padding: .5rem 1rem 0 0;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-grow: 1;
  width: 100%;

  .nav-item.dropdown {
    .dropdown-menu {
      margin: 0;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);

      .dropdown-item {
        font-weight: $font-weight-medium;
        font-size: .875rem;
        color: $brand-blue-darkest;

        &:hover,
        &:focus,
        &.active {
          color: $brand-blue;
        }
      }
    }
    &:hover .dropdown-menu {
      display: block;
    }

    .dropdown-toggle:after {
      display: none;
    }
  }

  .nav-link {
    padding: 0.3rem 0;
    color: $brand-blue-darkest;
    font-weight: $font-weight-medium;
    letter-spacing: .02rem;
    font-size: 13px;
    text-transform: uppercase;
    white-space: nowrap;

    &.active {
      color: $brand-blue;
    }

    &:hover,
    &:active,
    &:focus {
      color: $primary;
      //outline: none;
    }
  }

  .nav-item {
    margin-right: 5%;

    &:last-of-type {
      margin-right: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    padding: .5rem 0;
    justify-content: flex-end;
    width: auto;
  }

  @include media-breakpoint-up(xl) {

    .nav-item {
      margin-right: 2.5rem;

      &:last-of-type {
        margin-right: 0;
      }
    }

    .nav-link {
      //font-size: 1rem;
    }
  }
}

// Drupal admin overrides
// -------------------------------------

.toolbar-oriented .toolbar-bar {
  z-index: 10000;
}

.toolbar-fixed.toolbar-horizontal,
.toolbar-fixed.toolbar-vertical,
.toolbar-vertical {
  .page-main-header {
    top: 39px;
    .navbar-collapse {
      top: 39px;
    }
  }
}

.toolbar-fixed.toolbar-horizontal.toolbar-tray-open {
  .page-main-header {
    top: 79px;
    .navbar-collapse {
      top: 79px;
    }
  }
}