
// Country list
// -------------------------------------

.country-logo-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -20px;

  li {
    width: 50%;
    display: flex;
    align-items: center;
    padding: .75rem 20px;

    a {
      display: inline-block;
      width: 100%;
      text-align: center;

      &:hover,
      &:focus,
      &:active {
        img {
          filter: grayscale(0);
          opacity: 1;
        }
      }

      span.country {
        display: block;
        font-size: 14px;
        letter-spacing: .02rem;
        color: $light-text-color;
        margin-top: .5rem;
      }
    }

    .img-container {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 130px;
      height: 40px;
      margin: 0 auto;
    }

    img {
      display: inline-block;
      max-height:40px;
      width: auto;
      height: auto;
      filter: grayscale(100%);
      opacity: .8;
      transition: all 200ms ease-in-out;
    }
  }

  @include media-breakpoint-up(sm) {
    /*li {
      width: 33.3333%;
    }*/

    li {
      width: auto;
      max-width: 200px;
      //padding: 0 20px;
    }
  }

  @include media-breakpoint-up(md) {
    li {
      width: 20%;
    }
  }

  @include media-breakpoint-up(xl) {
    flex-wrap: nowrap;
    justify-content: space-between;
    li {
      width: auto;
      max-width: 200px;
      padding: 0 20px;
    }
  }
}