
// Two columns CTA with image
// -------------------------------------

.section-two-col-cta {
  @extend .row;
  margin: 0;

  .col-img {
    padding: 0;
  }

  .col-txt {
    display: flex;
    align-items: center;
    justify-content: center;

    .content-box {
      padding: 2rem $margin-width-sm;

      .btn {
        margin-top: 1.5rem;
      }

      p {
        font-size: 1.125rem;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .col-img {
      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
    }

    .col-txt {
      .content-box {
        padding: 3.5rem $margin-width-md;
        max-width: 540px;
      }
    }
  }

  @include media-breakpoint-up(md) {

  }
}

// Basic page sections
// -------------------------------------

.page-section-basic-page {
  padding-bottom: 2rem;

  .page-title {
    margin-bottom: 2rem;
  }

  .page-image {
    margin-bottom: 2rem;
  }

  .lead-text {
    margin-bottom: 2rem;
  }

  .page-section-bp:first-of-type {
    padding-top: 0;
  }
}

.page-section-bp {
  padding: 1rem 0;

  &.even {
    background-color: $white;
  }

  .section-2-columns {
    .section-title {
      max-width: 800px;
      margin-bottom: 1.5rem;
    }
  }

  @include media-breakpoint-up(md) {
    padding: 2rem 0;
  }

  @include media-breakpoint-up(xl) {
    padding: 3rem 0;
  }
}

.page-section-subpage-links {
  position: relative;

  &:before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 300px;
    background-color: $brand-blue-lighter;
    z-index: -1;
  }

  .block-link {
    margin-bottom: 3rem;
    background-color: $white;

    &:last-of-type {
      margin-bottom: 0;
    }

    .block-link-fw-2-col {
      p.lead-text {
        font-size: 1rem;
        margin-bottom: 1.5rem;
      }

      .col-img {
        order: 0;
        margin-bottom: 1rem;
      }

      .col-txt {
        order: 1;
        padding: 1rem 3rem;
      }
    }
  }

  @include media-breakpoint-up(md) {

    .block-link {
      margin-bottom: 0;

      .block-link-fw-2-col {
        padding: 7%;

        .col-img {
          margin: 0;
        }
        .col-txt {
          padding: 0 $grid-gutter-width/2;
        }
      }

      &.odd .block-link-fw-2-col {
        .col-img {
          order: 1;
        }
        .col-txt {
          order: 0;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {

    .block-link {

      .block-link-fw-2-col {
        p.lead-text {
          font-size: 1.125rem;
        }
        .row {
          align-items: center;
        }
      }
    }
  }
}