
// Contact page specific styles
// -------------------------------------

.page-sections.contact-page-sections {
  padding-bottom: 0;
}

.page-section-contact-form {

  .col-contact-form {
    background-color: $brand-blue-lighter;
    padding: 1.5rem $grid-gutter-width/2;

    .section-title {
      margin-bottom: 1rem;
    }
  }

  .col-links {
    background-color: $brand-blue-darkest;
    padding: 1.5rem $grid-gutter-width/2;
  }

  @include media-breakpoint-up(md) {
    display: flex;

    .col-contact-form,
    .col-links {
      flex: 0 0 50%;
      max-width: 50%;
      padding: $margin-width-md;
    }
  }

  @include media-breakpoint-up(lg) {

    .col-contact-form {

    }
  }

  @include media-breakpoint-up(xl) {

    .col-contact-form {

    }
  }
}

.contact-section-links {
  @extend .list-unstyled;

  .contact-section-link {
    display: block;
    border-bottom: 1px solid #224b73;
    padding: 1.5rem 0;

    .small-ac-title {
      display: block;
      color: $white;
      margin-bottom: .3rem;
    }

    .link-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $brand-blue-light;
      margin: 0;

      .material-icons {
        font-size: 1.25em;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .contact-section-link {
      padding: 2rem 0;

      .small-ac-title {
        margin-bottom: .75rem;
      }
    }

    li:first-child .contact-section-link {
      padding-top: .5rem;
    }
  }

  @include media-breakpoint-up(xl) {
    .contact-section-link {
      padding: 2.5rem 0;

      .small-ac-title {
        margin-bottom: .75rem;
      }
    }
  }
}

// Group contact
// -------------------------------------

.page-section-contact-group-contact {
  padding-bottom: 0;

  .section-title {
    margin-bottom: 1rem;
  }

  address,
  .contact-links {
    line-height: 1.63;
  }

  .contact-links {
    a {
      color: $default-text-color;
      text-decoration: underline;

      &:hover,
      &:focus {
        color: $brand-blue;
      }
    }
  }

  .col-img {
    margin-top: 2rem;
    padding: 0;
  }

  @include media-breakpoint-up(sm) {
    .col-info {
      margin: 0 0 1.5rem 0;
    }

    .col-img {
      margin: 0 0 -3rem;
    }
  }

  @include media-breakpoint-up(md) {

    address,
    .contact-links {
      font-size: 1.125rem;
    }

    .col-img {
      margin: 0 0 -4rem;
    }
  }

  @include media-breakpoint-up(xl) {

    .section-title {
      margin-bottom: 2rem;
    }

    .col-info {
      margin: 0;
    }

    address {
      margin-bottom: 2rem;
    }

    address,
    .contact-links {
      font-size: 1.375rem;
    }

    .col-img {
      margin: 0 0 -7rem;
    }
  }
}

// Country organisations section
// -------------------------------------

.page-section-contact-countries {
  padding: 2.5rem 0 2rem;
  background-color: $brand-blue-lighter;

  .section-title {
    margin-bottom: 1.5rem;
  }

  @include media-breakpoint-up(sm) {
    padding: 5rem 0 2rem;
  }

  @include media-breakpoint-up(md) {
    padding: 6rem 0 2.5rem;

    .section-title {
      margin-bottom: 2.5rem;
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 7rem 0 2.5rem;
  }

  @include media-breakpoint-up(xl) {
    padding: 9rem 0 4rem;
  }
}


// Country organisation lists
// -------------------------------------

.country-organisation-card {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 1rem 1rem 1.5rem;

  .logo-container {
    display: flex;
    align-items: center;
    width: 160px;
    height: 60px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .item-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .contact-info {
    a {
      color: $default-text-color;
      text-decoration: underline;

      &:hover,
      &:focus {
        color: $brand-blue;
      }
    }
    .country {
      font-weight: $font-weight-medium;
    }
  }

  @include media-breakpoint-up(md) {
    .item-title {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }
}

.country-organisation-list-cards {
  @extend .list-unstyled;

  .item {
    margin-bottom: $grid-gutter-width/2;

    .country-organisation-card {
      height: 100%;
    }
  }

  @include media-breakpoint-up(md) {
    .item {
      margin-bottom: $grid-gutter-width;
    }
  }
}