
// Two columns CTA with image
// -------------------------------------

.section-two-col-cta {
  @extend .row;
  margin: 0;

  .col-img {
    padding: 0;
  }

  .col-txt {
    display: flex;
    align-items: center;
    justify-content: center;

    .content-box {
      padding: 2rem $margin-width-sm;

      .btn {
        margin-top: 1.5rem;
      }

      p {
        font-size: 1.125rem;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .col-img {
      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
    }

    .col-txt {
      .content-box {
        padding: 3.5rem $margin-width-md;
        max-width: 540px;
      }
    }
  }

  @include media-breakpoint-up(md) {

  }
}

// Basic page sections
// -------------------------------------

.page-section-basic-page {
  padding-bottom: 2rem;

  .page-title {
    margin-bottom: 2rem;
  }

  .page-image {
    margin-bottom: 2rem;
  }

  .lead-text {
    margin-bottom: 2rem;
  }

  .page-section-bp:first-of-type {
    padding-top: 0;
  }
}

.page-section-bp {
  padding: 1rem 0;

  &.even {
    background-color: $white;
  }

  .section-2-columns {
    .section-title {
      max-width: 800px;
      margin-bottom: 1.5rem;
    }
  }

  @include media-breakpoint-up(md) {
    padding: 2rem 0;
  }

  @include media-breakpoint-up(xl) {
    padding: 3rem 0;
  }
}