
// About us page specific styles
// -------------------------------------


.page-section-about-us-img {
  position: relative;

  &:before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    content: '';
    background-color: $white;
    z-index: -1;
  }

  .section-img {
    position: relative;
    width: 100%;

    img {
      width: 100%;
    }

    .btn-play {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @include media-breakpoint-up(md) {
    .section-img {
      width: (100% - $margin-width-md);
    }
  }

  @include media-breakpoint-up(xl) {
    .section-img {
      width: (100% - $margin-width-xl);
    }
  }
}

.page-section-about-us-main {
  .section-title {
    margin-bottom: 2rem;
  }

  .section-cta {
    margin-top: 2rem;

    .btn {
      text-align: left;
      margin-right: 2rem;
    }
  }

  @include media-breakpoint-up(md) {
    .section-title {
      margin-bottom: 5rem;
      font-size: 2.250rem;
      line-height: 1.3;
    }

    .section-cta {
      margin-top: 3rem;
    }
  }

  @include media-breakpoint-up(xl) {
    .section-title {
      margin-bottom: 7rem;
    }

    .section-cta {
      margin-top: 5rem;
    }
  }
}

.page-section-about-us-team {
  background-color: $white;

  .section-intro {
    margin-top: 1rem;
  }

  .team-grid-title {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.125rem;

    .team-grid-title {
      margin-bottom: 3rem;
      margin-top: 3rem;
    }
  }

  @include media-breakpoint-up(xl) {
    .team-grid {
      //padding-top: 6rem;
    }
  }
}

.team-grid {
  .person-card {
    margin-bottom: 1.5rem;

    img {
      margin-bottom: 1.5rem;
      border-bottom: 1px solid $border-color;
      filter: grayscale(100%);
    }

    .img-wrapper {
      width: 10rem;
      height: 10rem;
      overflow: hidden;
      border-radius: 100%;
      margin-bottom: 1rem;

      img {
        width: 100%;
        height: auto;
        margin: 0;
      }
    }

    .person-name {
      color: $default-text-color;
    }
    .person-title {
      margin: 0;
    }
  }

  @include media-breakpoint-up(md) {
    .person-card {
      margin-bottom: 3rem;
    }
  }

  @include media-breakpoint-up(xl) {
    .person-card {
      margin-bottom: 5rem;
    }
  }
}