
// Front page specific styles
// -------------------------------------

// Hero

.hero-frontpage {
  position: relative;
  background-color: $brand-blue-lighter;

  .hero-img {
    position: relative;
    height: 0;
    padding-bottom: 55%;
    @include background-cover;
  }

  .container-fullwidth {
    background-color: #fff;
  }

  .hero-content {
    padding: 2rem 0;
    background-color: #fff;

    .h2, .h3 {
      margin-bottom: 1rem;
    }

    .btn {
      margin-top: 1rem;
    }
  }

  @include media-breakpoint-up(sm) {
    .hero-img {
      padding-bottom: 50%;
    }
  }

  @include media-breakpoint-up(md) {
    .hero-img {
      padding-bottom: 45%;
    }

    .container-fullwidth {
      background-color: transparent;
    }

    .hero-content {
      width: 70%;
      max-width: 700px;
      padding: 3rem $margin-width-md;
      margin-top: -15%;

      .hero-lead {
        font-size: 1.125rem;
      }

      .btn {
        margin-top: 1.5rem;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .hero-img {
      padding-bottom: 0;
      height: 500px;
    }
  }
}

// Intro
// -------------------------------------

.page-section-fp-intro {
  background-color: $brand-blue-lighter;

  h2 {
    margin-bottom: 3rem;
    max-width: 800px;
    line-height: 1.3;

    span {
      color: $brand-blue;
    }
  }
  .page-list {
    @extend .list-unstyled;

    .item {
      display: flex;
      flex-direction: column;
      justify-content: left;
      margin-bottom: 1.5rem;

      h3 {
        margin-bottom: .75rem;
        order: 1;
      }

      img {
        margin-bottom: 1rem;
        order: 0;
      }

      p {
        margin-bottom: 0;
        color: $default-text-color;
        order: 2;
      }

      .btn {
        margin-right: auto;
        order: 3;
      }

      &:focus,
      &:hover,
      &:active {
        text-decoration: none;

        .btn {
          color: $link-hover-color;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    h2 {
      margin-bottom: 4rem;
    }

    .page-list .item {
      h3 {
        margin-bottom: 1.25rem;
      }

      img {
        margin-bottom: 1.5rem;
      }

      .btn {
        margin-top: .5rem;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    h2 {
      margin-bottom: 6rem;
    }

    .page-list .item {
      h3 {
        margin-bottom: 1.25rem;
      }

      img {
        margin-bottom: 2rem;
      }

      .btn {
        margin-top: 1rem;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    h2 {
      margin-bottom: 7rem;
    }
  }
}

// Feature
// -------------------------------------

.page-section-fp-feature {
  padding-top: 0;

  .content-box {
    position: relative;
    z-index: 2;
    margin: -4% $margin-width-sm 0;
    padding: 2rem $margin-width-sm;
    background-color: $brand-blue-darkest;
    max-width: 500px;

    .small-ac-title {
      color: $white;
      margin-bottom: 1rem;
    }

    p.h3 {
      color: $brand-blue-light;
      margin-bottom: 2rem;
    }
  }

  @include media-breakpoint-up(md) {
    img {
      width: 95%;
    }
    .content-box {
      margin: -15% 0 0 auto;
      padding: 3rem $margin-width-md;
      max-width: 600px;

      .small-ac-title {
        margin-bottom: 1.5rem;
      }

      p.h3 {
        margin-bottom: 2.5rem;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .content-box {
      margin: -15% 0 0 auto;
      padding: 4rem $margin-width-md;
      max-width: 700px;
    }
  }

  @include media-breakpoint-up(xl) {
    img {
      width: 93%;
    }
    .content-box {
      margin: -15rem 0 0 auto;
      padding: 5rem $margin-width-md;
      max-width: 800px;
    }
  }
}

// Find a clinic
// -------------------------------------

.page-section-find-a-clinic {
  position: relative;
  background-color: $brand-blue-lighter;
  padding: 0;

  .col-map {
    width: 80%;
    max-width: 770px;
    min-height: 300px;
    padding-bottom: 2rem;
    margin-left: auto;
    overflow: hidden;

    img {
      display: block;
      margin-left: 3rem;
    }
  }

  .cta {
    position: absolute;
    width: 100%;
    top: 10%;

    h2 {
      margin-bottom: 1.5rem;
    }
  }

  @include media-breakpoint-up(sm) {

    .col-map {
      img {
        margin-left: 5rem;
      }
    }
    .cta {
      top: 20%;

      h2 {
        max-width: 90%;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .col-map {
      width: 70%;
      margin-left: auto;
    }
    .cta {
      top: 20%;

      h2 {
        max-width: 70%;
        margin-bottom: 2rem;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .col-map {
      width: 70%;
      margin-left: auto;

      img {
        margin-left: 0;
      }
    }
    .cta {
      top: 20%;

      h2 {
        max-width: 60%;
        margin-bottom: 3rem;
      }
    }
  }
}

// Country logos
// -------------------------------------

.page-section-fp-countries {
  background-color: $white;
}

.country-logo-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -20px;

  li {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 1.5% 20px;

    a {
      display: inline-block;
      width: 100%;
      text-align: center;
      &:hover,
      &:focus,
      &:active {
        img {
          filter: grayscale(0);
          opacity: 1;
        }
      }
    }

    img {
      display: inline-block;
      max-width:100%;
      max-height:50px;
      width: auto;
      height: auto;
      filter: grayscale(100%);
      opacity: .8;
      transition: all 200ms ease-in-out;
    }
  }

  @include media-breakpoint-up(sm) {
    li {
      width: 33.3333%;
    }
  }

  @include media-breakpoint-up(md) {
    li {
      width: 20%;
    }
  }

  @include media-breakpoint-up(xl) {
    flex-wrap: nowrap;
    justify-content: space-between;
    li {
      width: auto;
      max-width: 200px;
      padding: 0 20px;
    }
  }
}

// Contact us

.page-section-fp-contact {
  background-color: $white;
  padding: 0;
}