@import "variables";

@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../../node_modules/bootstrap/scss/buttons";
@import "../../../../../node_modules/bootstrap/scss/grid";


$material-design-icons-font-directory-path: '../fonts/' !default;

@import '../../../../../node_modules/material-design-icons-iconfont/src/material-design-icons';

@import "buttons";


// Typography
// -------------------------------------

a {
  color: $brand-blue;
}

a.btn.btn-primary {
  color: $white;
}

p.lead-text {
  font-size: $lead-font-size;
  line-height: 1.6;

  @include media-breakpoint-up(lg) {
    font-size: 1.375rem;
  }
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 1rem;

  li {
    margin-bottom: .5rem;

    > ul, > ol {
      margin-top: .5rem;
    }
  }
}

ol {
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 35px;

  li {
    margin: 0 0 1.5rem 0;
    counter-increment: my-awesome-counter;
    position: relative;

    &::before {
      content: counter(my-awesome-counter);
      color: #fff;
      font-size: 1rem;
      position: absolute;
      --size: 24px;
      left: -35px;
      line-height: var(--size);
      width: var(--size);
      height: var(--size);
      top: 1px;
      background: $black;
      border-radius: 50%;
      text-align: center;
    }
  }
}
//