

<section class="page-section login-page">
    <div class="container-sm">
        <a href="/" class="login-home-logo"><img src="{{ base_path ~ directory }}/img/cdg-logo-blue.svg" alt="CDG logo"></a>
        <h1>Reset password</h1>
        {{ page.content }}
    </div>
</section>

